{% extends 'base.html.twig' %}

{% block title %}FORMATIONS{% endblock %}

{% block body %}


<div class="titre">
    <h1>Mes Formations</h1>  

</div> 

<div class="container"> 
    <div class="row">
        {% for formations in formations %} 
        <div class="col-md-4 mt-5 d-flex mt-5"> 
            <div class="card" style="width: 18rem;">
              {# <img src="{{asset('uploads' ~ projets.images)}}" class="card-img-top" alt="...">    
                                         #}
                <img src="{{formations.logo}}" alt="uuuuuu" style="width:286px; height:286px">

              <div class="card-body">
                {# <img src="{{asset('uploads' ~ formations.logo)}}" style="width:90px; height:90px"> #}
                <p class="card-text">{{formations.titres}}</p> 
                <p class="card-text">{{formations.organismes}}</p> 
                <p class="card-text">{{formations.periode}}</p> 
                {%  if is_granted('ROLE_ADMIN') %} 
                <td><a class="btn btn-success" href="{{path('app_admin_formations_edit',{id: formations.id})}}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{path('app_admin_formations_delete',{id: formations.id})}}">Supprimer</a></td> 
                {% endif %} 
              </div>
            </div>
        </div>
        {% endfor %} 
        
    </div>
</div>

{% endblock %}
