{% extends 'base.html.twig' %}

{% block title %}formations{% endblock %}

{% block body %}

<div class="container"> 
    <div class="row">

        <table class="table"> 
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Titres</th>
                <th scope="col">Logo</th>
                <th scope="col">Organismes</th>
                <th scope="col">Modifier</th> 
                <th scope="col">supprimer</th> 
              </tr>
            </thead>
            <tbody>
        {% for formations in formations %} 
              <tr>
                <th scope="row">{{formations.id}}</th>
                <td><img src="{{formations.logo}}" style="width:90px; height:90px;" alt=""></td>
                <td>{{formations.titres}}</td>
                <td>{{formations.organismes}}</td> 
                 
                {%  if is_granted('ROLE_ADMIN') %} 
                <td><a class="btn btn-success" href="{{path('app_admin_formations_edit',{id: formations.id})}}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{path('app_admin_formations_delete',{id: formations.id})}}">Supprimer</a></td> 
                {% endif %} 
                
              </tr>
        {% endfor %} 
        
            </tbody>
        </table>
</div>

{% endblock %}
