<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  href="{{path('app_home')}}"><img src="https://avatars.githubusercontent.com/u/74738714?s=400&u=0013d29bbc0c4e49eb6cc2afbd04480ea68067cd&v=4" loading="lazy" style="width:35px; height:35px;" alt="logo"></a> 
      {# assets/img/logo_m.png               #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_formations_all')}}">Formations</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_competences_all')}}">Compétences</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_mes_projets')}}">Mes Réalisations</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_experiences_all')}}">Mes experiences</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact')}}">Contactez-moi</a> 
        </li>
        {%  if is_granted('ROLE_ADMIN') %} 
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% if not app.user %} {# app.user = variable qui contient l utilisateur connecté #} 

            {# <li><a class="nav-link" href="{{path('app_register')}}">Inscription</a></li> #}
            <li><a class="nav-link" href="{{path('app_login')}}">Connexion</a></li> 
        
          {% else %} 
            <li><a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a></li>
            <li><a class="dropdown-item" href="{{path('admin_app_competences_all')}}">Gestion compétences</a></li> 
             <li><a class="dropdown-item" href="{{path('admin_app_formation_all')}}">Gestion formation</a></li> 
            <li><a class="dropdown-item" href="{{path('admin_app_projets_all')}}">Gestion projets</a></li> 
            <li><a class="dropdown-item" href="{{path('admin_app_experiences_all')}}">Gestion experiences</a></li>  
            <li><a class="dropdown-item" href="{{path('admin_app_contact_all')}}">Gestion contacts</a></li>  
            <li><a class="dropdown-item" href="{{path('app_competences_ajout')}}">Ajout compétences</a></li> 
             <li><a class="dropdown-item" href="{{path('app_form_projets')}}">Ajout projets</a></li> 
            <li><a class="dropdown-item" href="{{path('app_formations_ajout')}}">Ajout formations</a></li>
            <li><a class="dropdown-item" href="{{path('app_experiences')}}">Ajout experiences</a></li>
          {% endif %} 

          {% endif %} 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>